{% load static %}
<div class="navbar bg-base-200">
  <div class="navbar-start">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Notibac" class="h-16 w-auto" />
    </a>
    <div class="divider divider-horizontal mx-0"></div>
    <div class="flex self-end gap-1.5 ml-1 mb-2.75 text-sm">
      <span class="font-display italic text-jungle-green-500">Propulsé par</span>
      <img src="{% static 'images/labyrinthe_logo.png' %}" alt="Labyrinthe" class="h-5 w-auto" />
    </div>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    <a href="{% url 'notifications_list' %}" class="btn btn-ghost">Mes Notifications</a>
    <a href="{% url 'about' %}" class="btn btn-ghost">À Propos de Notibac</a>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        {{ user.email }}
        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-10 w-52 p-2 shadow">
        <li><a href="{% url 'account' %}">Mon Compte</a></li>
        <li><a href="{% url 'account_logout' %}">Déconnexion</a></li>
      </ul>
    </div>
    {% else %}
    <a href="{% url 'account_login' %}" class="btn btn-ghost">Connexion</a>
    <a href="{% url 'account_signup' %}" class="btn btn-primary">Inscription</a>
    {% endif %}
  </div>
</div>
