<html>
  <head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
    <title>Notibac</title>
  </head>
  <body class="flex flex-col min-h-screen">
    {% include "partials/header.html" %}

    <main class="p-4 flex-1">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
